<!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: #EAECEA;">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            <div class="col-md-3 mt-md-0 mt-3">

                <!-- Content -->
                <h5 class="text-uppercase">&copy; HealthSecurity</h5>
                <p></p>

            </div>
            <!-- Grid column -->

            <hr class="clearfix w-100 d-md-none pb-3">

            <!-- Grid column -->
            <div class="col-md-5 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Dirección</h5>

                <ul class="list-unstyled">
                    <li>
                        Turbaco, Bolivar. Zona industrial de Ternera Bodega 3b.
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

            <!-- Grid column -->
            <div class="col-md-3 mb-md-0 mb-3">

                <!-- Links -->
                <h5 class="text-uppercase">Contacto</h5>

                <ul class="list-unstyled">
                    <li>
                        (Soporte) 3052603063
                    </li>
                    <li>
                        support@hsplatform.com.co
                    </li>
                </ul>

            </div>
            <!-- Grid column -->

        </div>
        <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->