<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="respuesta">
            <h2><span jhiTranslate="healthSecurityWebApp.respuesta.detail.title">Respuesta</span> {{respuesta.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="healthSecurityWebApp.respuesta.valoracion">Valoracion</span></dt>
                <dd>
                    <span jhiTranslate="{{'healthSecurityWebApp.ValoracionEnum.' + respuesta.valoracion}}">{{respuesta.valoracion}}</span>
                </dd>
                <dt><span jhiTranslate="healthSecurityWebApp.respuesta.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{respuesta.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="healthSecurityWebApp.respuesta.estado">Estado</span></dt>
                <dd>
                    <span jhiTranslate="{{'healthSecurityWebApp.EstadoEnum.' + respuesta.estado}}">{{respuesta.estado}}</span>
                </dd>
                <dt><span jhiTranslate="healthSecurityWebApp.respuesta.reporte">Reporte</span></dt>
                <dd>
                    <div *ngIf="respuesta.reporte">
                        <a [routerLink]="['/reporte', respuesta.reporte?.id, 'view']">{{respuesta.reporte?.id}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="healthSecurityWebApp.respuesta.areaRiesgo">Area Riesgo</span></dt>
                <dd>
                    <span *ngFor="let areaRiesgo of respuesta.areaRiesgos; let last = last">
                        <a [routerLink]="['/area-riesgo', areaRiesgo?.id, 'view' ]">{{areaRiesgo.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
                <dt><span jhiTranslate="healthSecurityWebApp.respuesta.tipoRiesgo">Tipo Riesgo</span></dt>
                <dd>
                    <span *ngFor="let tipoRiesgo of respuesta.tipoRiesgos; let last = last">
                        <a [routerLink]="['/tipo-riesgo', tipoRiesgo?.id, 'view' ]">{{tipoRiesgo.id}}</a>{{last ? '' : ', '}}
                    </span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/respuesta', respuesta.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
