<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1 >Registro</h1>

            <div class="alert alert-success" *ngIf="success" >
                <strong>¡Registro exitoso!</strong> Por favor verifica tu bandeja de correo principal o spam.
            </div>

            <div class="alert alert-danger" *ngIf="error" >
                <strong>¡Registro fallido!</strong> Por favor, intente nuevamente.
            </div>

            <div class="alert alert-danger" *ngIf="errorUserExists" >
                <strong>¡Un usuario con estos datos ya se encuentra registrado!</strong> Por favor, modifícalos.
            </div>

            <div class="alert alert-danger" *ngIf="errorEmailExists" >
                <strong>¡El correo ingresado se encuentra en uso!</strong> Por favor, ingresa uno diferente.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" >
                ¡Las contraseñas ingresadas deben coincidir!
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <form name="form" role="form" (ngSubmit)="register()" #registerForm="ngForm" *ngIf="!success">
                <div class="form-group">
                    <label class="form-control-label" for="login" jhiTranslate="global.form.username">Username</label>
                    <input type="text" class="form-control" [(ngModel)]="registerAccount.login" id="login" name="login" #login="ngModel" placeholder="{{'global.form.username.placeholder' | translate}}"
                            required minlength="1" maxlength="50" pattern="^[_.@A-Za-z0-9-]*$">
                    <div *ngIf="login.dirty && login.invalid">
                        <small class="form-text text-danger" *ngIf="login.errors.required" >
                            Tu nombre de usuario es requerido.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.minlength">
                            Tu nombre de usuario es requerido.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.maxlength">
                            Tu nombre de usuario no puede tener más de 50 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="login.errors.pattern">
                            Tu nombre de usuario solo puede contener números y letras.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="email" jhiTranslate="global.form.email">Email</label>
                    <input type="email" class="form-control" id="email" name="email" #email="ngModel" placeholder="{{'global.form.email.placeholder' | translate}}"
                            [(ngModel)]="registerAccount.email" minlength=5 maxlength=254 email required>
                    <div *ngIf="email.dirty && email.invalid">
                        <small class="form-text text-danger" *ngIf="email.errors.required">
                            Tu correo es requerido.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.invalid">
                            Tu correo es inválido.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.minlength">
                            Tu correo debe contener al menos 5 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="email.errors.maxlength">
                            Tu correo no puede tener más de 100 caracteres.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="password" jhiTranslate="global.form.newpassword">New password</label>
                    <input type="password" class="form-control" id="password" name="password" #password="ngModel" placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                            [(ngModel)]="registerAccount.password" minlength=4 maxlength=50 required>
                    <div *ngIf="password.dirty && password.invalid">
                        <small class="form-text text-danger" *ngIf="password.errors.required">
                            Tu contraseña es requerida.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.minlength">
                            Tu contraseña no puede ser menor a 4 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="password.errors.maxlength">
                            Tu contraseña no puede tener más de 50 caracteres.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="registerAccount.password"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword" #confirmPasswordInput="ngModel" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                            [(ngModel)]="confirmPassword" minlength=4 maxlength=50 required>
                    <div *ngIf="confirmPasswordInput.dirty && confirmPasswordInput.invalid">
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.required">
                            Tu confirmación de contraseña es requerida.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.minlength">
                            Tu confirmación de contraseña no puede ser menor a 4 caracteres.
                        </small>
                        <small class="form-text text-danger" *ngIf="confirmPasswordInput.errors.maxlength">
                            Tu confirmación de contraseña no puede tener más de 50 caracteres.
                        </small>
                    </div>
                </div>

                <button type="submit" [disabled]="registerForm.form.invalid" class="btn btn-primary" >Registrar</button>
            </form>
            <p></p>
        </div>
    </div>
</div>
