<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title th:text="#{email.activation.title}">Activación de cuenta</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="shortcut icon" th:href="@{|${baseUrl}/favicon.ico|}" />
    <style>
        .button {
            background-color: #4CAF50;
            border: none;
            color: white;
            padding: 8px 20px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
            margin: 4px 2px;
            cursor: pointer;
            border-radius: 23px;
        }
    </style>
</head>

<body>

    <div class="container" style="margin: 5% 5%">

        <p align="center" style="margin-bottom: 2%; color: #4CAF50; font-weight: bold; font-size: 24px; font-family: Arial, Helvetica, sans-serif">ACTIVACIÓN DE CUENTA</p>
        
        <img th:src="@{http://hsplatform.com.co/content/images/verificacion_cuenta.png}" 
            alt="" style="width: 65%; margin-left: auto; margin-right: auto; display: block; border-radius: 19px;">

        <div style="margin: 0% 17.4%">

            <p>
                Apreciado
            </p>
            <p>
                Tu cuenta en HealthSecurity ha sido creada, por favor ingresa a la URL a través del siguiente botón para activarla.
            </p>

            <div style="text-align: center;">
                <button class="button">
                    <a style="text-decoration: none; color: white;" th:href="@{|${baseUrl}/#/activate?key=${user.activationKey}|}">Enlace de activación</a>
                </button>
            </div>

            <p>
                <span>Cordialmente, </span>
                <br/>
                <em>Equipo HealthSecurity.</em>
            </p>

        </div>

    </div>

</body>

</html>