<div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4">¡Bienvenido al administrador de HealthSecurity!</h1>
        <p class="lead" jhiTranslate="home.subtitle">This is your homepage</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message" translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span >¿Te encuentras registrado?</span>
                <a class="alert-link" (click)="login()">Inicia sesión aquí</a>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

        <p class="lead" style="margin-top: 50px;">
            <em>Una plataforma diseñada para mejorar los procesos de prevención de riesgos laborales.</em>
        </p>
        <p class="lead">
            <em>Ante cualquier duda o inquietud contacte a soporte a través del correo electrónico de soporte.</em>
        </p>

        <div style="text-align:center;padding:1em 0; float: right;">
            <h3>
                <a style="text-decoration:none;">
                    <br />Cartagena, Colombia</a>
            </h3>
            <iframe src="https://www.zeitverschiebung.net/clock-widget-iframe-v2?language=en&size=medium&timezone=America%2FBogota"
                width="100%" height="115" frameborder="0" seamless></iframe>
        </div>

    </div>
</div>