<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wiki">
            <h2><span>Glosario HSEQ</span> {{wiki.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span jhiTranslate="healthSecurityWebApp.wiki.titulo">Titulo</span></dt>
                <dd>
                    <span>{{wiki.titulo}}</span>
                </dd>
                <dt><span jhiTranslate="healthSecurityWebApp.wiki.imagen">Imagen</span></dt>
                <dd>
                    <div *ngIf="wiki.imagen">
                        <a (click)="openFile(wiki.imagenContentType, wiki.imagen)">
                            <img [src]="'data:' + wiki.imagenContentType + ';base64,' + wiki.imagen" style="max-width: 100%;" alt="wiki image"/>
                        </a>
                        {{wiki.imagenContentType}}, {{byteSize(wiki.imagen)}}
                    </div>
                </dd>
                <dt><span jhiTranslate="healthSecurityWebApp.wiki.descripcion">Descripcion</span></dt>
                <dd>
                    <span>{{wiki.descripcion}}</span>
                </dd>
                <dt><span jhiTranslate="healthSecurityWebApp.wiki.tema">Tema</span></dt>
                <dd>
                    <div *ngIf="wiki.tema">
                        <a [routerLink]="['/tema', wiki.tema?.id, 'view']">{{wiki.tema?.nombre}}</a>
                    </div>
                </dd>
                <dt><span jhiTranslate="healthSecurityWebApp.wiki.categoria">Categoria</span></dt>
                <dd>
                    <div *ngIf="wiki.categoria">
                        <a [routerLink]="['/categoria', wiki.categoria?.id, 'view']">{{wiki.categoria?.nombre}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back"> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wiki', wiki.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit"> Edit</span>
            </button>
        </div>
    </div>
</div>
